<div>
  <h1>Socket.IO Chat</h1>
  <!-- Mensaje de conexión que desaparecerá después de un tiempo -->
  <p *ngIf="connectionMessage">{{ connectionMessage }}</p>

  <ul>
    <li *ngFor="let message of messages">
      <strong>{{ message.clientId }}:</strong> {{ message.message }}
    </li>
  </ul>

  <!-- Mostrar "typing..." si alguien está escribiendo -->
  <div *ngIf="typingClient && typingClient !== socketId ">
    <em>{{ typingClient }} is typing...</em>
  </div>

  <input [(ngModel)]="newMessage" placeholder="Enter your message" (input)="onTyping()" />
  <button (click)="sendMessage()">Send</button>
</div>